<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="SQLServer" value="KLS-AL-JPJVLQ2\sunonline"/>
    <add key="DbUserId" value="sa"/>
    <add key="DbPassword" value="1yQA2xWS3cED4vRF"/>
    <add key="database" value="SoulServer"/>
    <add key="serverIp" value="127.0.0.1"/>
    <add key="serverPort" value="44405"/>
    <add key="protocolVersion" value="3.4.6"/>
    <add key ="Server1Name" value="Etherain"/>
    <add key="Server1Port" value="8000"/>
    <add key ="Channel1Name" value="Channel 1"/>
    <add key ="Channel1Port" value="8010"/>
  </appSettings>
</configuration>